*{
	margin: 0;
}
img{
	width:540px;
	height:315px;
}

body{
	background-color: rgb(30, 30, 30)  ;
}

ul {
	color: red;
}
header{
	height: 100px;
	width: 100%;
	background-color: #17202A  ;
}
nav{
	height: 316px;
	width: 100%;
	background-color: black ;
}
section{
	height: 170px;
	width: 100%;
	background-color: black;
}

aside{
	height: 480px;
	width: 100%;
	background-color: #943126;
}
.item{
	width: 600px;
	height: 315px;
	margin: 0px;
}
@media screen and(max-width: 730px)
{
	.item{
		width: 100%;
		margin: 5px;
	}
}
@media screen and(max-width: 500px){
	nav{
		width: 100%;
	}
	aside{
		width: 100%;
	}
	header{
		width: 100%;
	}
	section{
		width: 100%;
	}
}

	
	



